/******general styles******/
*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  background-color: skyblue;
  text-align: center;
  font-family: montserrat, sans-serif;
  font-weight: 700;
}

/******layout styles******/
header{
  width: 75vw;
  margin: 25px auto;
  }
  main{
    width: 75vw;
    margin: 25px auto;
    display: flow-root;
  }
  .col{
    width: 50%;
    float: left;
    box-shadow: 0 0 0 5px black;
    outline: dashed 5px pink;

  }

/******type styles******/
h1{
  font-size: 4rem;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  text-transform:

}
h2{
  font-size: 2rem;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
}

/******list styles******/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/******media queries******/
@media screen and (max-width: 900px) {
  .col{
    width: 100%;
    margin-bottom: 50px;
    outline: dashed 5px skyblue;
  }
  header{
    width: 90vw;
  }
  main{
    width: 90vw;
  }
  h1{
    font-size: 3rem;
  }
  body{
    background-color: pink;
  }
 }
