
/* selector {

} */
body{
  background-color: peachpuff;
  margin-top: 100px;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}
h1 {
  color: white;
  text-align: center;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 60px;
}
h3{
  color: darkslateblue;
  text-align: center;
  font-family: museo-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
a:link{
  color: mediumblue;
}
a:hover{
  color: purple;
  font-style: italic;
}
a:visited{
  color: maroon;
}
