.kSquare{
width: 30px;
height: 50px;
background-color: green;
opacity: 5;
float: left;
margin: 30px;
}
.mSquare{
  width: 100px;
  height: 20px;
  background-color: pink;
  opacity: 100;
  float: right;
  margin: 20px;
}
.ySquare{
  width: 20px;
  height: 600px;
  background-color: yellow;
  opacity: .5;
  float: left;
  margin: -10px;
}
.cSquare{
  width: 90px;
  height: 70px;
  background-color: purple;
  opacity: .5;
  float: left;
  margin: -5px;
}

/*Pattern 2*/
.shape1{
  display: block;
  width: 126px;
  height: 180px;
  background-color: pink;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  float: left;
  margin: 30px;
}
.shape2{
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: red;
  float: left;
}
.shape3{
  width: 50px;
  height: 100px;
  transform: skew(-20deg);
  background: orange;
  border: solid 10px;
  float: left;
  margin: 30px;
}
.shape4{
  display: block;
  width: 126px;
  height: 180px;
  background-color: yellow;
  opacity: 5px;
  border-radius: 50% 40% 30% 50% / 60% 60% 40% 40%;
  float: left;
  margin: 30px;
}

/*Pattern 3*/
.shape5{
  width: 500px;
  height: 300px;
  background: maroon;
  float: right;
}
.shape6{
  width: 400px;
  height: 280px;
  background: green;
  opacity: 5px;
  float: left;
}
.shape7{
  width: 200;
  height: 60;
  border-left: 300px solid blue; opacity: 50%;
  border-right: 300px solid blue; opacity: 25px;
  border-top: 350px solid skyblue;
  float: left;
}
.shape8{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 350px solid midnightblue;
  float: left;
}

/*Pattern 4*/
.shape9{

}
.shape10{

}
.shape11{

}
.shape12{

}

/*Pattern 5*/
.shape13{

}
.shape14{

}
.shape15{

}
.shape16{

}
























































































.mSquare{
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border: 10px solid skyblue;
  margin:-15px;
  opacity: .75;
  float:left;
}
.ySquare{
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border: 10px solid skyblue;
  margin:-15px;
  opacity: .75;
  float:left;
  border-radius: 50%;
}
.cSquare{
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border: 10px solid skyblue;
  margin:-15px;
  opacity: .75;
  float:left;
}
.kSquare{
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border: 10px solid skyblue;
  margin:-15px;
  opacity: .75;
  float:left;
}
