*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.face{
  width: 500px;
  height: 425px;
  background-color: gold;
  border-radius: 500px;
  position: absolute;
  top: 200px
  left: 100px
}
.head-top{
  width: 250px;
  height: 90px;
  background-color: gold;
  position: absolute;
  top: 110px
  left: 225px
}
.head-bottom{
  width: 350px;
  height: 70px;
  background-color: gold;
  position: absolute;
  top: 600px
  left: 175px
}
.eye-l{
  width: 75px;
  height: 75px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 300px
  left: 210px
}
.eye-r{
  width: 75px;
  height: 75px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 300px
  left: 4150x
}
.mouth{
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  border-bottom: 25px solid black;
  border-right: 25px solid black;
  border-left: 25px solid gold;
  border-top: 25px solid gold;
  transform: rotate(45deg);
  position: absolute;
  top: 300px
  left: 4150x
}
