body{
  background-color: pink;
}

/* media query */

@media screen and  (max-width:320px) {
  body{
    background-color: red
  }
}
#signature{
  color: black;
}
h1{
  font-family: masqualero,sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: left;
}
