body{
  background-color: pink;
}

/* media query */

@media screen and  (max-width:320px) {
  body{
    background-color: red
  }
}
#signature{
  color: black;
}
h1{
  font-family: masqualero,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 60px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.alignleft{
  float: left;
}
.alignright{
  float: right;
}
style{
  clear: both;
}
